<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Online Movie shop Kenya</title>
    </head>
    <body>
        <h1>Welcome To Your Nzuri Online Movieshop</h1>
        <p>This is an online movie shop that lets you order movies at the comfort of your couch hustle free, you dont have to go line up.. just click away</p>
        <a href="/anime/">Anime </a>
         <a href="/about/">Comedy </a>
          <a href="/about/">Drama</a>
           <a href="/about/">Action</a>
    </body>
</html>